.cards__image[style="background-image: url(undefined)"] {
	display: none !important;
}

.newsletter {
	display: none !important;
}

a[href="/Registration/Availability"] {
    display: none !important;
}